.Slider {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  position: relative;
  height: 100%;
  background: #212121;
}

h1 {
  color: #9E579D;
}

span {
  color: #fff;
}

.swiper {
  height: 550px;
  max-width: 800px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.swiper-button-next, .swiper-button-prev {
  color: #574B90 !important;
}

.swiper-pagination-bullet {
  background: #323232 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #574B90 !important;
  opacity: 1 !important;
}